#habit-mode-overlay {
  font-size: 16px;
  font-family: sans-serif;
  resize: vertical;
}
#habit-mode-overlay {
  transition: all 0.3s ease;
  opacity: 0;
}

#habit-mode-overlay.show {
  opacity: 1;
}
